/* Styling for Rock-Paper-Scissor game widget */

div#rockPaperScissorWidget {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  align-items: center;
}

/* Widget Title */
div#rockPaperScissorWidget #title {
  font: bold 20pt 'Times New Roman', serif;
}

/* The Drawing Canvas */
div#rockPaperScissorWidget canvas {
  border: 2px solid black;
  border-radius: 4px;
}

div#rockPaperScissorWidget #countLabel {
  font-size: 140%;
  margin: 1px 2px 8px 0px;
}

div#rockPaperScissorWidget #count {
  margin: 1px 0px 8px 2px;
}

/* Start button */
div#rockPaperScissorWidget button {
  width: 120px;
  background-color: #09f;
  color: white;
  padding: 8px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: large;
}

div#rockPaperScissorWidget button:hover {
  background-color: #07d;
}

div#rockPaperScissorWidget button:disabled {
  cursor: not-allowed;
  opacity: 0.5;
}